@import "../valo/valo";

@mixin customvalotheme {
  @include valo;
  font-family: 'Source Sans Pro', courier, monospace;

  .v-label pre {
    font-family: 'Source Sans Pro', courier, monospace;
  }

  .v-tab-name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .v-home-tab-name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  .v-home-text {
    text-align: center;
    font-size: 30px;
  }

  .v-home-image {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .v-select-optiongroup-horizontal .v-select-option {
    display: inline-block;
  }
}